@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Dana";
    src: url("./assets/fonts/Dana-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Dana";
    src: url("./assets/fonts/Dana-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "Dana";
    src: url("./assets/fonts/Dana-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  body{
    font-family: "Dana", sans-serif;
  }

  .dir-ltr {
    direction: ltr;
  }

  .swiper-pagination {
    bottom: 8px !important;
  }